/*!
 * -------------------------------------------------------
 * Project: Sergio Costa GridSystem with ShortCode
 * Version: 1.0.0
 *
 * Author:  Sergio Costa
 * URL:     http://republicainterativa.com.br
 * Contact: sergio.costa@outlook.com
 *
 *-------------------------------------------------------- */

// column size

$sc-gs-size-g10: 10%;
$sc-gs-size-g12: 8.33333333%;
$sc-gs-size-g16: 6.25%;

// global grid rules
.sc-gs-col {
	display: table;
	padding: 0px 15px;
	float: left;
}

// define how big the columns are
//@function sc-gs-size-g10($n) {
//	@return $n * $sc-gs-size-g10;
//}
@function sc-gs-size-g12($n) {
	@return $n * $sc-gs-size-g12;
}
//@function sc-gs-size-g16($n) {
//	@return $n * $sc-gs-size-g16;
//}

// outputs css for the columns
//@for $i from 1 through 10 {
//	.sc-gs-10-#{$i} {
//		width: sc-gs-size-g10($i);
//	}
//}
@for $i from 1 through 12 {
	.sc-gs-12-#{$i} {
		width: sc-gs-size-g12($i);
	}
}
//@for $i from 1 through 16 {
//	.sc-gs-16-#{$i} {
//		width: sc-gs-size-g16($i);
//	}
//}

// outputs responsive css
@media only screen and (max-width: 767px) {
	.sc-gs-col {
		width: 100% !important;
	}
}


